# Backend (Python)
MusicRoomBackend/venv/
MusicRoomBackend/.env
MusicRoomBackend/__pycache__/
MusicRoomBackend/**/__pycache__/

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
xcuserdata/
.DS_Store
DerivedData/
